registry=http://metasoft:8082/MetaSysProjectCollection/4bffc008-3313-4208-80ed-ced1bdcc380d/_packaging/printavolibrary/npm/registry/ 
                        
always-auth=true

; begin auth token
//metasoft:8082/MetaSysProjectCollection/4bffc008-3313-4208-80ed-ced1bdcc380d/_packaging/printavolibrary/npm/registry/:username=MetaSysProjectCollection
//metasoft:8082/MetaSysProjectCollection/4bffc008-3313-4208-80ed-ced1bdcc380d/_packaging/printavolibrary/npm/registry/:_password=[7inxg6zlbzvnakyesmo5mqs3vzwrkzylfkh7yqe4ndpt2vmg4lta]
//metasoft:8082/MetaSysProjectCollection/4bffc008-3313-4208-80ed-ced1bdcc380d/_packaging/printavolibrary/npm/registry/:email=pranays@metasyssoftware.com
//metasoft:8082/MetaSysProjectCollection/4bffc008-3313-4208-80ed-ced1bdcc380d/_packaging/printavolibrary/npm/:username=MetaSysProjectCollection
//metasoft:8082/MetaSysProjectCollection/4bffc008-3313-4208-80ed-ced1bdcc380d/_packaging/printavolibrary/npm/:_password=[7inxg6zlbzvnakyesmo5mqs3vzwrkzylfkh7yqe4ndpt2vmg4lta]
//metasoft:8082/MetaSysProjectCollection/4bffc008-3313-4208-80ed-ced1bdcc380d/_packaging/printavolibrary/npm/:email=pranays@metasyssoftware.com
; end auth token